body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(335, 100%, 73%);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 194, 194);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    color: rgb(255, 194, 194);
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

.gif-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Creates 10 columns */
    grid-template-rows: repeat(10, 10vw); /* Creates 10 rows, adjust '10vw' for size */
    gap: 5px; /* Adjust the gap for your preference */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.gif-grid img {
    width: 100%;
    height: auto;
    grid-column: auto; /* Let the browser automatically place items */
}
/* .gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif_container1 {
    display: flex;
    justify-content: left;
    align-items: center;
} */